<%= render 'analytics'%>
<div class="admin-dashboard">
  <div class="tabs">
    <%= link_to 'Artists', admin_root_path(tab: 'artists'), 
        class: "tab #{@current_tab == 'artists' ? 'active' : ''}" %>
    <%= link_to 'Albums', admin_root_path(tab: 'albums'), 
        class: "tab #{@current_tab == 'albums' ? 'active' : ''}" %>
    <%= link_to 'Songs', admin_root_path(tab: 'songs'), 
        class: "tab #{@current_tab == 'songs' ? 'active' : ''}" %>
  </div>
  <div class="tab-content">
    <%= render partial: @current_tab_partial %>
  </div>
</div>